.filters{
    margin-bottom: 30px;
}
.filter-tags{
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
}
.filter-tags button{
    background-color: gray;
    color: white;
    padding: 5px;
}
