.filters{
    margin-bottom: 30px;
}
.filter-tags{
    display: inline-block;
    margin-top: 20px;
    margin-left: 15px;
}
.filter-tags span{
    background-color: gray;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
}
