.usa-card-group {
    // ignores properties added to default ul objects
    max-width: 100%;
    padding: 0;
    margin: 0;
    img{
        height: auto;
    }
}
.italics{
    font-style: italic;
}
.tags{
    color: #949494;
    margin-bottom: 5px;
}
